#control_div {
	position:absolute;
	top:30px;
	left:7px;
	z-index:2;
}

#view-refresh, #zoom-out, #zoom-in {
	float:left;
}

#map {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:300px; 
	padding:0px;
}

.sidebar {
	text-align:left;
	position:absolute;
	right:5px;
	top:5px;
	width:25%;
	padding:0px;
	height:98%;
	overflow:auto;
}

#sidebar-background {
	filter:alpha(opacity=65);
	-moz-opacity:0.65;
	background-color:white;
}

#geobrowser_title {
	margin:4px;
}

#tree_holder {
	width:100%;
	overflow:auto;
}

#message_center {
	position:absolute;
	right:5px;
	bottom: 5px;
	font-weight:bold;
}

#info_window {
	z-index:2; 
	position:absolute;
	left:4%;
	top:4%;
	width:90%;
	height:90%;
	padding:0px; 
}

#close_button {
	z-index:3;
	position:absolute;
	right:0%;
	top:0%;
	padding:0px;
}

#info_frame {
	width:100%;
	height:100%;
	background-color:white;
}